<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="/korisnik/odjava">Odjavi se</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="/">Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/filmovi/crud">Filmovi CRUD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kategorije">Kategorije CRUD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/korisnik/bezvezni">Odjava</a>
            </li>
        </ul>
    </div>
</nav>