<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <title>Prijava</title>
  </head>

  <body>
    <div id="login">
      <h3 class="text-center text-white pt-5">Prijavi se</h3>
      <div class="container">
        <div
          id="login-row"
          class="row justify-content-center align-items-center"
        >
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form id="login-form" class="form" action="/korisnik/login" method="POST">
                <h3 class="text-center text-info">Prijava</h3>
                <div class="form-group">
                  <label for="korisnickoIme" class="text-info">Korisničko ime:</label
                  ><br />
                  <input
                    type="text"
                    name="korisnickoIme"
                    id="korisnickoIme"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label for="lozinka" class="text-info">Lozinka:</label><br />
                  <input
                    type="password"
                    name="lozinka"
                    id="lozinka"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <input
                      type="submit"
                      name="submit"
                      class="btn btn-success"
                      value="Prijavi se"
                    />
                    <a href="/korisnik/registracija" class="btn btn-secondary">Registracija</a>
                    <p class="text-danger"><%=errorPoruka%></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
